{
    "openapi": "3.1.0",
    "info": {
        "title": "API",
        "version": "1.0.0",
        "description": "Platnova's Business API allows businesses to issue virtual accounts and cards to their employees, vendors, or retail customers. It allows businesses to streamline the process of issuing cards, manage spending, and track transactions. The API documentation provides information on how to integrate our virtual card issuing system into a business's existing systems and outlines the features and functionalities of the API, including card and account creation, management, and reporting. It also provides technical specifications, such as API requests, responses, and authentication processes.\n\nThe API documentation is intended for developers and IT teams to use in order to effectively implement Platnova solutions into their business processes.\n\n# Authentication/Authorization\n\nTo access any of the resources on the `{BaseUrl}/v1/`, the client has to pass pre-defined headers for authentication and authorization.\n\nThe API is secure and only authorized clients can consume the service. There are API keys assigned to every business and JWT tokens assigned to every account for authentication/authorization.\n\n## Bearer Token\n\nRequests may accept jwt tokens as below.\n\n``` json\nAuthorization: Bearer <jwt token>\n\n ```\n\n## API Key\n\nRequests may acccept an api key either in the request headers or as a query parameter. Some requests cannot be authorized using an API key.\n\n``` json\nX-API-KEY: <api key>\n\n ```\n\nOR\n\n``` json\n?api-key=<api key>\n\n ```\n\n# Base URL\n\n[https://sandbox.api.platnova.co](https://sandbox.api.platnova.co)\n\n# Errors\n\nUnauthorized API key\n\n``` json\n{\n    \"status\": false,\n    \"data\": {},\n    \"error\": [],\n    \"message\": \"unauthorized access\"\n}\n\n ```\n\nPermission Denied\n\n``` json\n{\n    \"status\": false,\n    \"data\": {},\n    \"error\": [],\n    \"message\": \"unauthorized access: permission denied\"\n}\n\n ```"
    },
    "servers": [
        {
            "url": "https://api.platnova.com",
            "description": "Production server"
        },
        {
            "url": "https://sandbox.api.platnova.co",
            "description": "Development server"
        }
    ],
    "security": [
        {
            "apiKeyAuth": []
        }
    ],
    "paths": {
        "/v1/customers": {
            "post": {
                "summary": "Create customer",
                "description": "Create a new individual customer profile with identification details, address information, and KYC compliance data.",
                "operationId": "createCustomer",
                "tags": [
                    "Customer"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCustomerRequest"
                            },
                            "example": {
                                "first_name": "John",
                                "last_name": "Doe",
                                "email": "johndoe06@email.com",
                                "phone": "+23490123456789",
                                "country_code": "NG",
                                "date_of_birth": "1970-12-28",
                                "country": "Nigeria",
                                "document": {
                                    "id_type": "NATIONAL_ID",
                                    "id_number": "1096277890",
                                    "front_doc": "",
                                    "back_doc": ""
                                },
                                "address": {
                                    "street": "12 Lekki Lane",
                                    "city": "Lekki",
                                    "state": "Lagos",
                                    "postal_code": "200123",
                                    "country": "Nigeria",
                                    "document_url": "http://example.com"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Customer created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "country_code": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": true,
                                    "data": {
                                        "id": "3be6624b-81a4-40d9-bfa9-c4dd8e4f7c18",
                                        "first_name": "John",
                                        "last_name": "Doe",
                                        "email": "johndoe04@email.com",
                                        "phone": "90123456789",
                                        "country_code": "NGA",
                                        "status": "APPROVAL_PENDING"
                                    },
                                    "error": [],
                                    "message": "operation was successful"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Customer already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": false,
                                    "data": {},
                                    "error": [],
                                    "message": "customer already exists"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError422"
                                },
                                "example": {
                                    "error": {
                                        "first_name": [
                                            "This field is required"
                                        ],
                                        "last_name": [
                                            "This field is required"
                                        ],
                                        "email": [
                                            "This field is required"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "List customers",
                "description": "Retrieve a paginated list of customers.",
                "operationId": "listCustomers",
                "tags": [
                    "Customer"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Page number (0-indexed)",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 0
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "description": "Number of items per page",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 20
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customers retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer"
                                                },
                                                "size": {
                                                    "type": "integer"
                                                },
                                                "max_page": {
                                                    "type": "integer"
                                                },
                                                "total_pages": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "last": {
                                                    "type": "boolean"
                                                },
                                                "first": {
                                                    "type": "boolean"
                                                },
                                                "visible": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/customers/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The ID of the customer to retrieve.",
                    "example": "f09b9f49-87ee-458f-8325-b49d81543ea0",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get customer",
                "description": "Retrieve a specific customer by ID.",
                "operationId": "getCustomer",
                "tags": [
                    "Customer"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": "true"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Api-Version, Platform"
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS, GET, PUT, PATCH, DELETE"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json; charset=utf-8"
                            },
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 21 Jul 2025 23:18:48 GMT"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "895"
                            }
                        },
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "country_code": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "dial_code": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "date_of_birth": {
                                                            "type": "string"
                                                        },
                                                        "employment_status": {
                                                            "type": "string"
                                                        },
                                                        "expected_monthly_income": {
                                                            "type": "string"
                                                        },
                                                        "primary_purpose": {
                                                            "type": "string"
                                                        },
                                                        "source_of_funds": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_occupation": {
                                                            "type": "string"
                                                        },
                                                        "document": {
                                                            "type": "object",
                                                            "properties": {
                                                                "docs": {
                                                                    "nullable": true
                                                                },
                                                                "number": {
                                                                    "type": "string"
                                                                },
                                                                "country": {
                                                                    "type": "string"
                                                                },
                                                                "id_type": {
                                                                    "type": "string"
                                                                },
                                                                "valid_until": {
                                                                    "type": "string"
                                                                },
                                                                "provider": {
                                                                    "type": "integer"
                                                                },
                                                                "additional": {
                                                                    "nullable": true
                                                                },
                                                                "gender": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "address": {
                                                            "type": "object",
                                                            "properties": {
                                                                "street": {
                                                                    "type": "string"
                                                                },
                                                                "city": {
                                                                    "type": "string"
                                                                },
                                                                "state": {
                                                                    "type": "string"
                                                                },
                                                                "country": {
                                                                    "type": "string"
                                                                },
                                                                "postal_code": {
                                                                    "type": "string"
                                                                },
                                                                "document": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "id_type": {
                                                                            "type": "string"
                                                                        },
                                                                        "issue_country": {
                                                                            "type": "string"
                                                                        },
                                                                        "urls": {
                                                                            "nullable": true
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "providers": {
                                                            "nullable": true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": true,
                                    "data": {
                                        "id": "43a2b75e-5c59-429e-872a-2a54c7b17e34",
                                        "email": "johndoe03@email.com",
                                        "first_name": "John",
                                        "last_name": "Doe",
                                        "country_code": "NGA",
                                        "phone": "90123456789",
                                        "dial_code": "+234",
                                        "created_at": "2025-07-22T00:17:49.238398+01:00",
                                        "updated_at": "2025-07-22T00:17:49.713464+01:00",
                                        "status": "APPROVAL_PENDING",
                                        "meta": {
                                            "date_of_birth": "",
                                            "employment_status": "employed",
                                            "expected_monthly_income": "0_4999",
                                            "primary_purpose": "payments_to_friends_or_family_abroad",
                                            "source_of_funds": "salary",
                                            "most_recent_occupation": "engineering",
                                            "document": {
                                                "docs": null,
                                                "number": "",
                                                "country": "",
                                                "id_type": "",
                                                "valid_until": "",
                                                "provider": 0,
                                                "additional": null,
                                                "gender": ""
                                            },
                                            "address": {
                                                "street": "12 Lekki Lane",
                                                "city": "Lekki",
                                                "state": "Lagos",
                                                "country": "Nigeria",
                                                "postal_code": "200123",
                                                "document": {
                                                    "id_type": "",
                                                    "issue_country": "",
                                                    "urls": null
                                                }
                                            },
                                            "providers": null
                                        }
                                    },
                                    "error": [],
                                    "message": "operation was successful"
                                }
                            }
                        }
                    },
                    "400": {
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": "true"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Api-Version, Platform"
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS, GET, PUT, PATCH, DELETE"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json; charset=utf-8"
                            },
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 21 Jul 2025 23:21:46 GMT"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "72"
                            }
                        },
                        "description": "400 - Customer not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": false,
                                    "data": {},
                                    "error": [],
                                    "message": "customer was not found"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/virtual-accounts/create": {
            "post": {
                "summary": "Create virtual account (customer)",
                "description": "Create a virtual bank account for a customer in the specified currency. Requires customer_id and currency. For NGN, id_number (BVN) may be required; for USD, beneficiary_account_id is required.",
                "operationId": "createUserVirtualAccount",
                "tags": [
                    "Virtual Account"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateUserVirtualAccountRequest"
                            },
                            "example": {
                                "currency": "NGN",
                                "customer_id": "43a2b75e-5c59-429e-872a-2a54c7b17e34",
                                "id_number": "22123456789",
                                "codes": [
                                    "058"
                                ],
                                "beneficiary_account_id": "5c5e173f-7754-41af-a2ee-b4be7d709e0c"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Virtual account created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "customer_id": {
                                                    "type": "string"
                                                },
                                                "reference": {
                                                    "type": "string"
                                                },
                                                "currency": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "created_on": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "accounts": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "account_number": {
                                                                "type": "string"
                                                            },
                                                            "account_name": {
                                                                "type": "string"
                                                            },
                                                            "bank_name": {
                                                                "type": "string"
                                                            },
                                                            "bank_code": {
                                                                "type": "string"
                                                            },
                                                            "ach_routing_number": {
                                                                "type": "string"
                                                            },
                                                            "rtp_routing_number": {
                                                                "type": "string"
                                                            },
                                                            "wire_routing_number": {
                                                                "type": "string"
                                                            },
                                                            "swift_code": {
                                                                "type": "string"
                                                            },
                                                            "bank_address": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request (e.g. customer not found, account already exists)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/virtual-accounts": {
            "post": {
                "summary": "Create virtual account (business)",
                "description": "Create a virtual bank account for the business entity in the specified currency. Requires wallet_id; optionally pass bank codes.",
                "operationId": "createVirtualAccount",
                "tags": [
                    "Virtual Account"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateVirtualAccountRequest"
                            },
                            "example": {
                                "wallet_id": "43a2b75e-5c59-429e-872a-2a54c7b17e37",
                                "codes": [
                                    "CHASUS33"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": "true"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Api-Version, Platform"
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS, GET, PUT, PATCH, DELETE"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json; charset=utf-8"
                            },
                            "X-Ratelimit-Limit": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "2"
                            },
                            "X-Ratelimit-Remaining": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1"
                            },
                            "X-Ratelimit-Reset": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1753140419"
                            },
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 21 Jul 2025 23:26:01 GMT"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "554"
                            }
                        },
                        "description": "200 - Success - USD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "customer_id": {
                                                    "type": "string"
                                                },
                                                "currency": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "created_on": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "accounts": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "account_number": {
                                                                "type": "string"
                                                            },
                                                            "account_name": {
                                                                "type": "string"
                                                            },
                                                            "bank_name": {
                                                                "type": "string"
                                                            },
                                                            "bank_code": {
                                                                "type": "string"
                                                            },
                                                            "ach_routing_number": {
                                                                "type": "string"
                                                            },
                                                            "rtp_routing_number": {
                                                                "type": "string"
                                                            },
                                                            "wire_routing_number": {
                                                                "type": "string"
                                                            },
                                                            "swift_code": {
                                                                "type": "string"
                                                            },
                                                            "bank_address": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": true,
                                    "data": {
                                        "customer_id": "43a2b75e-5c59-429e-872a-2a54c7b17e34",
                                        "currency": "USD",
                                        "email": "johndoe03@email.com",
                                        "first_name": "John",
                                        "last_name": "Doe",
                                        "created_on": "2025-07-22T00:26:00+01:00",
                                        "accounts": [
                                            {
                                                "account_number": "3916098129",
                                                "account_name": "John Doe",
                                                "bank_name": "JPMorgan Chase",
                                                "bank_code": "CHASUS33",
                                                "ach_routing_number": "598983484",
                                                "rtp_routing_number": "812096193",
                                                "wire_routing_number": "982935645",
                                                "swift_code": "CHASUS33",
                                                "bank_address": "270 Park Ave, New York, NY, 10017-2070"
                                            }
                                        ]
                                    },
                                    "error": [],
                                    "message": "operation was successful"
                                }
                            }
                        }
                    },
                    "400": {
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": "true"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Api-Version, Platform"
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS, GET, PUT, PATCH, DELETE"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json; charset=utf-8"
                            },
                            "X-Ratelimit-Limit": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "2"
                            },
                            "X-Ratelimit-Remaining": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1"
                            },
                            "X-Ratelimit-Reset": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1751896973"
                            },
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 07 Jul 2025 14:01:54 GMT"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "79"
                            }
                        },
                        "description": "400 - Virtual Account exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": false,
                                    "data": {},
                                    "error": [],
                                    "message": "bank account is already added"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "List virtual accounts",
                "description": "Retrieve a list of virtual accounts, optionally filtered by currency or customer.",
                "operationId": "listVirtualAccounts",
                "tags": [
                    "Virtual Account"
                ],
                "parameters": [
                    {
                        "name": "currency",
                        "in": "query",
                        "required": false,
                        "description": "optional three letter currency codes",
                        "example": "NGN",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customer_id",
                        "in": "query",
                        "required": false,
                        "description": "unique id of the customer",
                        "example": "43a2b75e-5c59-429e-872a-2a54c7b17e34",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success - USD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "recommended": {
                                                        "type": "boolean"
                                                    },
                                                    "meta": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "type": "integer"
                                                            },
                                                            "currency": {
                                                                "type": "string"
                                                            },
                                                            "account_type": {
                                                                "type": "string"
                                                            },
                                                            "issued": {
                                                                "type": "boolean"
                                                            },
                                                            "disabled": {
                                                                "type": "boolean"
                                                            },
                                                            "ach_routing_number": {
                                                                "type": "string"
                                                            },
                                                            "rtp_routing_number": {
                                                                "type": "string"
                                                            },
                                                            "wire_routing_number": {
                                                                "type": "string"
                                                            },
                                                            "swift_code": {
                                                                "type": "string"
                                                            },
                                                            "bank_address": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "account_number": {
                                                        "type": "string"
                                                    },
                                                    "account_name": {
                                                        "type": "string"
                                                    },
                                                    "bank_name": {
                                                        "type": "string"
                                                    },
                                                    "bank_code": {
                                                        "type": "string"
                                                    },
                                                    "default": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": true,
                                    "data": [
                                        {
                                            "recommended": false,
                                            "meta": {
                                                "id": "47f77087-cb48-4aa2-8ab9-33b2b9156209",
                                                "provider": 5,
                                                "currency": "USD",
                                                "account_type": "Current",
                                                "issued": true,
                                                "disabled": false,
                                                "ach_routing_number": "598983484",
                                                "rtp_routing_number": "812096193",
                                                "wire_routing_number": "982935645",
                                                "swift_code": "CHASUS33",
                                                "bank_address": "270 Park Ave, New York, NY, 10017-2070"
                                            },
                                            "account_number": "3916098129",
                                            "account_name": "John Doe",
                                            "bank_name": "JPMorgan Chase",
                                            "bank_code": "CHASUS33",
                                            "default": true
                                        }
                                    ],
                                    "error": [],
                                    "message": "operation was successful"
                                }
                            }
                        }
                    },
                    "400": {
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": "true"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Api-Version, Platform"
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS, GET, PUT, PATCH, DELETE"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json; charset=utf-8"
                            },
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Mon, 07 Jul 2025 14:40:35 GMT"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "72"
                            }
                        },
                        "description": "400 - Customer not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": false,
                                    "data": {},
                                    "error": [],
                                    "message": "customer was not found"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/cards": {
            "post": {
                "summary": "Create card",
                "description": "Create a virtual card for a customer with optional initial funding.",
                "operationId": "createCard",
                "tags": [
                    "Card"
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": "true"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Api-Version, Platform"
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS, GET, PUT, PATCH, DELETE"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json; charset=utf-8"
                            },
                            "X-Ratelimit-Limit": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "4"
                            },
                            "X-Ratelimit-Remaining": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "3"
                            },
                            "X-Ratelimit-Reset": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1753190676"
                            },
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Tue, 22 Jul 2025 13:23:41 GMT"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "321"
                            }
                        },
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "customer": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "first_name": {
                                                            "type": "string"
                                                        },
                                                        "last_name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "format": "email"
                                                        }
                                                    }
                                                },
                                                "card_id": {
                                                    "type": "string"
                                                },
                                                "card_status": {
                                                    "type": "string"
                                                },
                                                "card_brand": {
                                                    "type": "string"
                                                },
                                                "card_currency": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": true,
                                    "data": {
                                        "customer": {
                                            "id": "43a2b75e-5c59-429e-872a-2a54c7b17e34",
                                            "first_name": "John",
                                            "last_name": "Doe",
                                            "email": "johndoe03@email.com"
                                        },
                                        "card_id": "18ee492a-617c-4878-958a-2ee08dc20ff4",
                                        "card_status": "processing",
                                        "card_brand": "mastercard",
                                        "card_currency": "ngn"
                                    },
                                    "error": [],
                                    "message": "operation was successful"
                                }
                            }
                        }
                    },
                    "400": {
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": "true"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Api-Version, Platform"
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS, GET, PUT, PATCH, DELETE"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json; charset=utf-8"
                            },
                            "X-Ratelimit-Limit": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "4"
                            },
                            "X-Ratelimit-Remaining": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "2"
                            },
                            "X-Ratelimit-Reset": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "1753190676"
                            },
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Tue, 22 Jul 2025 13:24:14 GMT"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "91"
                            }
                        },
                        "description": "400 - Card limit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": false,
                                    "data": {},
                                    "error": [],
                                    "message": "only 1 mastercard card allowed in a month"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCardRequest"
                            },
                            "example": {
                                "currency": "ngn",
                                "brand": "mastercard",
                                "amount": 15000,
                                "wallet_id": "43a2b75e-5c59-429e-872a-2a54c7b17e37"
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "List cards",
                "description": "Retrieve a list of cards, optionally filtered by customer.",
                "operationId": "listCards",
                "tags": [
                    "Card"
                ],
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "query",
                        "required": false,
                        "description": "Filter by customer ID (UUID)",
                        "example": "3be6624b-81a4-40d9-bfa9-c4dd8e4f7c18",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "amount": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "events": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "event_id": {
                                                                    "type": "string"
                                                                },
                                                                "amount": {
                                                                    "type": "string"
                                                                },
                                                                "merchant_name": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string",
                                                                    "format": "date-time"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "currency": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "meta": {
                                                                    "type": "object"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    },
                                                    "info": {
                                                        "type": "object",
                                                        "properties": {
                                                            "provider_id": {
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "type": "integer"
                                                            },
                                                            "pan": {
                                                                "type": "string"
                                                            },
                                                            "masked_pan": {
                                                                "type": "string"
                                                            },
                                                            "last4": {
                                                                "type": "string"
                                                            },
                                                            "city": {
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            },
                                                            "address": {
                                                                "type": "string"
                                                            },
                                                            "zip_code": {
                                                                "type": "string"
                                                            },
                                                            "cvv": {
                                                                "type": "string"
                                                            },
                                                            "expiry_month": {
                                                                "type": "string"
                                                            },
                                                            "expiry_year": {
                                                                "type": "string"
                                                            },
                                                            "brand": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "name_on_card": {
                                                                "type": "string"
                                                            },
                                                            "colors": {
                                                                "nullable": true
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "control": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "limits": {
                                                                        "nullable": true
                                                                    },
                                                                    "channels": {
                                                                        "nullable": true
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "notes": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": true,
                                    "data": [
                                        {
                                            "id": "18ee492a-617c-4878-958a-2ee08dc20ff4",
                                            "amount": "4",
                                            "created_at": "2025-07-22T14:23:40.634516+01:00",
                                            "events": [
                                                {
                                                    "event_id": "UTR_zPV3SCUoo66yeH4syVxLdac7CqAvff",
                                                    "amount": "4",
                                                    "merchant_name": "Platnova",
                                                    "created_at": "2025-07-22T13:29:03.940373Z",
                                                    "description": "Platnova | Card creati...",
                                                    "type": "create_card",
                                                    "currency": "ngn",
                                                    "status": "success",
                                                    "meta": {}
                                                }
                                            ],
                                            "currency": "ngn",
                                            "info": {
                                                "provider_id": "1234567890",
                                                "provider": 4,
                                                "pan": "",
                                                "masked_pan": "489928******2417",
                                                "last4": "2417",
                                                "city": "New York",
                                                "state": "NY",
                                                "address": "123 Main St",
                                                "zip_code": "10001",
                                                "cvv": "",
                                                "expiry_month": "01",
                                                "expiry_year": "2026",
                                                "brand": "mastercard",
                                                "type": "virtual",
                                                "name_on_card": "John Doe",
                                                "colors": null,
                                                "label": "General",
                                                "control": {
                                                    "limits": null,
                                                    "channels": null
                                                }
                                            },
                                            "status": "active",
                                            "notes": "We now charge $0.30 fee for declined transactions due to insufficient funds. The affected card may be terminated if the balance isn't sufficient to cover the charge after one failed attempt.",
                                            "title": "General"
                                        }
                                    ],
                                    "error": [],
                                    "message": "operation was successful"
                                }
                            }
                        }
                    },
                    "400": {
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": "true"
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Api-Version, Platform"
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS, GET, PUT, PATCH, DELETE"
                            },
                            "Access-Control-Allow-Origin": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json; charset=utf-8"
                            },
                            "Date": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Tue, 22 Jul 2025 13:58:55 GMT"
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                },
                                "example": "72"
                            }
                        },
                        "description": "400 - Customer not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "error": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "status": false,
                                    "data": {},
                                    "error": [],
                                    "message": "customer was not found"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/cards/{card_id}/deposit": {
            "parameters": [
                {
                    "name": "card_id",
                    "in": "path",
                    "required": true,
                    "description": "Unique ID of the card",
                    "example": "18ee492a-617c-4878-958a-2ee08dc20ff4",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "summary": "Deposit to card",
                "description": "Add funds to a card from your wallet.",
                "operationId": "depositCard",
                "tags": [
                    "Card"
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": {
                                    "type": "boolean"
                                },
[...]
